@import "variables";

.body--creeEspace{

  .button--end{
    @include min-sm{
      margin-bottom: 20vh;
    }
  }
  .text{
    max-width: 500px;
  }

  .section--verification{
    .text{
      text-align: center;
      margin-bottom: 30px;
    }
  }
  .boxContent--last{
    .text{
      text-align:center;
      margin-top: 20px;
    }
  }

  .espace__hero--noDeco{
    height: auto;
  }
  
}