@import "variables";

textarea:focus{
  outline: 0;
}

.input{
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  .input__label{
    position: absolute;
    @include min-sm{
      font-size: 14px;
    }
    font-size: 12px;
    line-height: 16px;
    background-color: #fff;
    top:0;
    transform: translateY(-50%);
    margin-left: 10px;
    padding: 3px;
  }
  .input__field,textarea{
    border: 1px solid $color--light;
    border-radius: 10px;
    width: 100%;
    padding:15px;
    font-size: 14px;
    font-family: sans-serif;
    line-height: 16px;
    @include min-sm{
      font-size: 16px;
      line-height: 19px;
    }
  }
}