@import "variables";

*{
  box-sizing: border-box;
}

body{
  width: 100vw;
  min-height: 100vh;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}


img{
  width: 100%;
}

main{
  padding:15px;
  width: 100vw;
  margin-top: 30vh;
  overflow-x: hidden;
  @include min-sm{
    max-width: 750px;
  }
}

.body--slider{
  main{
    padding: 0;
  }
  .wrapper--flex{
    display: flex;
    width: 700vw;
    height:100%;
    align-items: flex-start;
    transition: all 0.3s;
    section{
      width: 100vw;
      height:100%;
      @include min-sm{
        max-width: 750px;
      }
      padding-left: 15px;
      padding-right: 15px;
      //height: 70vh;
      .section__content{
        display: flex;
        height:100%;
        flex-direction: column;
        align-items: center;
        position: relative;
      }
    }
  }
}


.body--simple{
  main{
    margin-top: 0vh;
  }

  .nav--slider{
    margin-top: 40px;
    position: fixed;
  }
  .wrapper--flex{
    margin-top: 100px;
  }
}

.group--border{
  border: 1px solid $color--light;
  position: relative;
  padding: 10px;
  padding-top: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 100%;
  @include min-sm{
    padding-top: 40px;
  }
  .group--border__headline{
    position: absolute;
    top:0;
    font-size: 12px;
    line-height: 16px;
    background-color: #fff;
    transform: translateY(-50%);
    margin-left: 0px;
    padding: 4px;
    @include min-sm{
      font-size: 14px;
    line-height: 16px;
    }
  }
}


.scroll--no{
  max-height: 100vh;
  height: 100%;
  overflow-y: hidden;
  position: relative;

  main{
    height: 70vh;
    margin-top: 0;
    overflow-x: hidden;
  }
  .header{
    position: relative;
    height: 30vh;
  }
  &.body--header--40{
    main{
      height: 60vh;
    }
    .header{
      height: 40vh;
    } 
  }
  
}



.main--scroll{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}

.main--scroll--slider{
  align-items: unset;
}

a{
  display: block;
  width: 100%;
  text-decoration: none;
}

.section{
  min-height: 100%;
  height:100%;
  .section__content{
    min-height: 100%;
    height:100%;
  }
}

// a{
//   animation: blinkLinks 1s infinite;
//   @keyframes blinkLinks {
//     0%{opacity: 1;}
//     100%{opacity: 0.8;}
//   }
// }