@import "variables";

.body--login{
  .button--end{
    position: absolute;
    left:0;
    right:0;
  }
  .section--oubliez{
    .text{
      margin-bottom: 30px;
    }
  }
  .section__content{
    height:60vh;
    position: relative;
  }
}

