@import "variables";

.nav--slider{
  padding:10px 15px ;
  background-color: #fff;
  overflow: scroll;
  width: 100%;
  z-index: 4;
  left:0;
  border-bottom: solid 1px $color--light; 
  
  .nav--slider__elementGroup{
    display: flex;
    width: 130%;
    @include min-sm{
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
  .nav--slider__element{
    font-weight: bold;
    margin-right: 10px;
    font-size: 10.04px;
    line-height: 12px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid $color--light;
    background-color: #fff;
    color:$color--strong;
    @include min-sm{
      font-size: 12px;
      padding: 10px 20px;
    }
    &:last-child{
      margin-right: 0;
    }
    &--active{
      background-color: $color--strong;
      color:#fff;
    }
  }
}